main {
  padding: 25px 0 130px 0;
  &.main-content {
    padding-top: 0;
  }
}

.inner-content {
  width: 1410px;
  margin: 0 auto;
  &.move-container {
    position: relative;
    &::after {
      content: '';
      display: block;
      clear: both;
    }
    .content-mini {
      min-height: 1px;
      &.left-case {
        width: 960px;
        float: left;
      }
      &.right-case {
        width: 1050px;
        float: right;
      }
    }

    .move-container {
      &-right {
        position: sticky;
        top: 95px;
        display: inline-block;
        vertical-align: top;
        width: 390px;
        margin-left: 60px;
        border-radius: 10px;
        border: 1px solid #e4e4e4;
        overflow: hidden;
        transition: 0.3s;
        > .inner {
          padding: 30px 30px 0 30px;
        }
        > .btn {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        .in-cont {
          padding: 30px 0 25px;
          + .in-cont {
            border-top: 1px solid #e4e4e4;
            padding: 25px 0 32px;
          }
        }
        .total {
          display: flex;
          justify-content: space-between;
          .tit {
            font-size: 18px;
            line-height: 40px;
            color: #111;
          }
          .r-side {
            text-align: right;
            .amount {
              display: inline-block;
              vertical-align: middle;
              font-size: 34px;
              line-height: 40px;
            }
            .word {
              display: inline-block;
              vertical-align: middle;
              font-size: 28px;
              line-height: 40px;
            }
            .save {
              margin-top: 5px;
              font-size: 0;
              > span {
                display: inline-block;
                vertical-align: top;
                padding: 0 6px;
                font-size: 13px;
                line-height: 23px;
                border-radius: 4px;
                background-color: #ffed67;
              }
            }
          }
        }
      }
      &-left {
        position: sticky;
        top: 95px;
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 1050px);
        transition: 0.3s;
        > .inner {
          padding-right: 60px;
        }
        .service-list {
          margin-top: 20px;
          > li {
            padding: 17px 0;
            border-bottom: 1px solid #eee;
            a {
              display: inline-block;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: #333;
              &:hover,
              &.active {
                font-weight: 700;
                color: #d3233a;
              }
            }
          }
        }
        .center-info {
          margin-top: 25px;
          dt {
            font-weight: 500;
            line-height: 20px;
            color: #333;
          }
          dd {
            padding-top: 5px;
            font-size: 14px;
            line-height: 24px;
            color: #888;
            &.num {
              padding-top: 3px;
              font-weight: 700;
              font-size: 22px;
              line-height: 28px;
              color: #333;
            }
          }
        }
      }

    }

  }
  &.service-center {
    width: 1280px;
    padding-top: 35px;
  }
  &.mypage-container {
    width: 1410px;
    padding-top: 55px;
    .move-container-left{
      width: calc(100% - 1125px);

      & + .right-case{
        width: 1125px;
      }
    }
  }
}