<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamProject.syusyu.ordDtlMapper">
    <insert id="insertOrdDtl" parameterType="OrdDtlDTO" useGeneratedKeys="true" keyProperty="ordDtlNo">
        INSERT INTO ord_dtl ( ORD_NO
                            , PROD_ID
                            , PROD_NM
                            , OPT_COMB_NO
                            , ORD_STUS
                            , PROD_PRC
                            , PROD_DC_PER
                            , QTY
                            , PROD_TOTAL_PAY_AMT
                            , SEND_DDLN
                            , REGR_ID)
        SELECT #{ordNo}
             , #{prodId}
             , #{prodNm}
             , #{optCombNo}
             , '10'       # 결제완료
             , P.SALE_PRC # 판매가
             , P.DC_PER   # 할인율
             , #{qty}
             , #{prodTotalPayAmt}
             , DATE_ADD(NOW(), INTERVAL 7 DAY)
             , #{regrId}
        FROM (SELECT PRC.SALE_PRC, PRC.DC_PER
              FROM PRODUCT PROD
                       JOIN PRICE PRC ON PROD.PROD_ID = PRC.PROD_ID
              WHERE PROD.PROD_ID = #{prodId}) P
    </insert>

    <select id="selectOrdDtl" parameterType="int" resultType="OrdDtlDTO">
        SELECT *
        FROM ORD_DTL
        WHERE ORD_DTL_NO = #{ordDtlNo}
    </select>

    <delete id="deleteAllOrdDtl">
        DELETE
        FROM ORD_DTL
    </delete>

    <select id="countOrdDtl" resultType="int">
        SELECT COUNT(*)
        FROM ORD_DTL
    </select>

    <!-- 특정 주문의 주문상태를 업데이트한다. -->
    <update id="updateOrdStus" parameterType="Map">
        UPDATE ORD_DTL
        SET ORD_STUS = #{ordStus}
          , UPD_DTTM = now()
          , UPDR_ID = #{updrId}
        WHERE ORD_DTL_NO = #{ordDtlNo}
    </update>
</mapper>