<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamProject.syusyu.orderInfoMapper">
    <sql id="orderInfo">
        SELECT O.ORD_NO                                                                                  # 주문번호
             , O.ORD_DTTM                                                                                # 주문일시
             , PROD.REP_IMG                                                                              # 이미지
             , GET_CD_NM('O0001', OD.ORD_STUS)                                            AS ORD_STUS_NM # 주문상태
             , OD.PROD_ID
             , OD.PROD_NM                                                                                # 상품명
             , (GET_DC_PRC(OD.PROD_PRC, OD.PROD_DC_PER) + IFNULL(PO.OPT_PRC, 0)) * OD.QTY AS PROD_AMT        # 상품금액(할인가격 + 옵션가) * 주문수량
             , (SELECT IFNULL(GROUP_CONCAT(CONCAT(OG.OPT_GRP_NM, ' : ', OI.OPT_ITEM_NM) SEPARATOR ', '), '')
                FROM OPT_GRP OG
                         JOIN OPT_ITEM OI ON OG.OPT_GRP_ID = OI.OPT_GRP_ID
                         JOIN PROD_OPT_COMB POC ON POC.OPT_ITEM_ID = OI.OPT_ITEM_ID
                WHERE OPT_COMB_NO = OD.OPT_COMB_NO)                                       AS OPT_NM      # 옵션
             , OD.QTY                                                                                    # 수량
             , P.PAY_TP                                                                                  # 결제방법
             , P.REAL_PAY_AMT                                                                            # 결제금액
        FROM ORD O
                 JOIN ORD_DTL OD ON O.ORD_NO = OD.ORD_NO
                 JOIN PAY P ON OD.ORD_NO = P.ORD_NO
                 JOIN PRODUCT PROD ON OD.PROD_ID = PROD.PROD_ID
                 LEFT JOIN PROD_OPT PO ON OD.OPT_COMB_NO = PO.OPT_COMB_NO
    </sql>

    <select id="selectOrderList" parameterType="Map" resultType="OrderInfoDTO">
        <include refid="orderInfo"/>
        WHERE O.ORDR_ID = #{mbrId}
        AND STR_TO_DATE(ORD_DTTM, '%Y-%m-%d') BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d') AND STR_TO_DATE(#{endDate}, '%Y-%m-%d')
        ORDER BY O.ORD_NO DESC, OD.ORD_DTL_NO
    </select>

    <select id="selectOrderDetailList" parameterType="Map" resultType="OrderInfoDTO">
        <include refid="orderInfo"/>
        WHERE O.ORDR_ID = #{mbrId}
        AND O.ORD_NO = #{ordNo}
        ORDER BY OD.ORD_DTL_NO
    </select>

    <select id="selectOrdDlvAddr" parameterType="int" resultType="OrdDlvAddrDTO">
        SELECT RECIPIENT
             , DFLT_ADDR
             , DTL_ADDR
             , MP_NO
             , DLV_REQ_COMT
        FROM ORD_DLV_ADDR
        WHERE ORD_NO = #{ordNo}
    </select>

    <!--주문상세에서 결제정보 조회-->
    <select id="selectPayInfo" parameterType="Map" resultType="PayInfoDTO">
        SELECT P.ORD_AMT                                         # 주문금액
             , P.DLV_FEE                                         # 배송비
             , GET_CPN_DC_AMT(ORD_AMT, CPN_ISS_NO) AS CPN_DC_AMT # 쿠폰할인
             , P.PNT_USE_AMT                                     # 포인트 사용
             , P.REAL_PAY_AMT                                    # 총 결제금액(실결제금액)
             , P.PAY_TP                                          # 결제방법
             , GET_CD_NM('O0010', P.PAY_TP)        AS PAY_TP_NM  # 결제방법이름
             , PR.APRV_DTTM                                      # 승일일시(결제일시)
        FROM PAY P
                 JOIN PAY_RSLT PR ON P.PAY_NO = PR.PAY_NO
        WHERE P.PAYER_ID = #{mbrId}
          AND ORD_NO = #{ordNo};
    </select>

    <select id="selectBosOrderList" parameterType="orderSearchRequestDTO" resultType="OrderInfoDTO">
        SELECT O.ORD_NO                                            # 주문번호
             , OD.ORD_DTL_NO                                       # 주문상세번호
             , O.ORD_DTTM                                          # 주문일시
             , GET_CD_NM('O0001', OD.ORD_STUS)      AS ORD_STUS_NM # 주문상태
             , OD.ORD_STUS                                         # 주문상태코드
             , OC.CLAIM_STUS                                       # 클레임 처리상태
             , OD.PROD_ID
             , OD.PROD_NM                                          # 상품명
             , (SELECT IFNULL(GROUP_CONCAT(CONCAT(OG.OPT_GRP_NM, ' : ', OI.OPT_ITEM_NM) SEPARATOR ', '), '')
                FROM OPT_GRP OG
                         JOIN OPT_ITEM OI ON OG.OPT_GRP_ID = OI.OPT_GRP_ID
                         JOIN PROD_OPT_COMB POC ON POC.OPT_ITEM_ID = OI.OPT_ITEM_ID
                WHERE OPT_COMB_NO = OD.OPT_COMB_NO) AS OPT_NM      # 옵션
             , OD.QTY                                              # 수량
             , (GET_DC_PRC(OD.PROD_PRC, OD.PROD_DC_PER) + IFNULL(PO.OPT_PRC, 0)) *
               OD.QTY                               AS PROD_AMT    # 상품금액(할인가격 + 옵션가) * 주문수량
             , P.PAY_TP                                            # 결제방법
             , P.REAL_PAY_AMT                                      # 결제금액
             , M.NAME                               AS ORDR_NM     # 구매자명
             , ODA.RECIPIENT                                       # 수령인
        FROM ORD O
                 JOIN ORD_DTL OD ON O.ORD_NO = OD.ORD_NO
                 JOIN PAY P ON OD.ORD_NO = P.ORD_NO
                 JOIN PRODUCT PROD ON OD.PROD_ID = PROD.PROD_ID
                 JOIN ORD_DLV_ADDR ODA ON O.ORD_NO = ODA.ORD_NO
                 JOIN MEMBER M ON O.ORDR_ID = M.MBR_ID
                 LEFT JOIN PROD_OPT PO ON OD.OPT_COMB_NO = PO.OPT_COMB_NO
                 LEFT JOIN ORD_CLAIM OC ON OD.ORD_DTL_NO = OC.ORD_DTL_NO
        WHERE STR_TO_DATE(O.ORD_DTTM, '%Y-%m-%d') BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d') AND STR_TO_DATE(#{endDate}, '%Y-%m-%d')
        <if test="searchKeyword != null and searchKeyword != ''">
            AND ${searchType} = #{searchKeyword}
        </if>
        <if test="ordStus != null and ordStus != ''">
            AND OD.ORD_STUS = #{ordStus}
        </if>
        ORDER BY O.ORD_NO DESC, OD.ORD_DTL_NO
    </select>
</mapper>