<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamProject.syusyu.orderMapper">
    <select id="getCartProduct" parameterType="int" resultType="CartProduct">
        SELECT CP.CART_PROD_NO
             , P.PROD_ID
             , P.PROD_NM
             , CP.QTY
             , P.SALE_PRC
             , P.REP_IMG
        FROM CART_PROD CP
           , PRODUCT P
        WHERE CP.PROD_ID = P.PROD_ID
          AND CP.CART_ID = (SELECT CART_ID
                            FROM CART
                            WHERE MBR_CD = #{mbrCd});
    </select>
</mapper>