<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamProject.syusyu.payMapper">
    <insert id="insertPay" parameterType="PayDTO" useGeneratedKeys="true" keyProperty="payNo">
        INSERT INTO PAY ( PAYER_ID
                        , ORD_NO
                        , PAY_STUS
                        , PAY_TP
                        , ORD_AMT
                        , DLV_FEE
                        , CPN_ISS_NO
                        , ORGN_PAY_AMT
                        , PNT_USE_AMT
                        , REAL_PAY_AMT
                        , REGR_ID)
        SELECT #{payerId}                                    # 결제자아이디
             , #{ordNo}                                      # 주문번호
             , 10                                            # 결제상태(10 = 결제완료)
             , #{payTp}                                      # 결제수단
             , O.ORD_AMT                                     # 주문금액
             , #{dlvFee}                                     # 배송비
             , #{cpnIssNo}                                   # 쿠폰발행번호
             , GET_ORGN_PAY_AMT(O.ORD_AMT, #{cpnIssNo}) + #{dlvFee}    # 원결제금액(주문금액에서 쿠폰할인 적용 + 배송비)
             , #{pntUseAmt}                                  # 포인트사용금액
             , GET_ORGN_PAY_AMT(O.ORD_AMT, #{cpnIssNo}) + #{dlvFee} - #{pntUseAmt} # 실결제금액(원결제금액 + 배송비 - 포인트 사용금액)
             , #{regrId}                                     # 등록자아이디
        FROM (SELECT SUM(GET_DC_PRC(PROD_PRC, PROD_DC_PER) * QTY) AS ORD_AMT
              FROM ORD_DTL
              WHERE ORD_NO = #{ordNo}) O
    </insert>


    <select id="selectPay" parameterType="int" resultType="PayDTO">
        SELECT PAY_NO,
               PAYER_ID,
               ORD_NO,
               PAY_STUS,
               PAY_TP,
               ORD_AMT,
               DLV_FEE,
               CPN_ISS_NO,
               ORGN_PAY_AMT,
               PNT_USE_AMT,
               REAL_PAY_AMT,
               REG_DTTM,
               REGR_ID,
               UPD_DTTM,
               UPDR_ID
        FROM PAY
        WHERE PAY_NO = #{payNo}
    </select>

    <delete id="deleteAllPay">
        DELETE
        FROM PAY
    </delete>

    <select id="countPay" resultType="int">
        SELECT COUNT(*)
        FROM PAY
    </select>

</mapper>