.login_area  {
    margin: 0 auto;
    padding: 60px 0 160px;
    width: 400px
}

.login_title  {
    padding-bottom: 50px;
    text-align: center;
    font-size: 32px;
}

.login_title :before {
    content: "";
    display: inline-block;
    width: 250px;
    height: 56px;
    /*background: url(/_nuxt/img/login_title.9f9ccc8.png) no-repeat;*/
    background-size: 250px 56px
}

.login_btn_box  {
    padding-top: 20px;

    .btn {
        display: inline-flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        text-align: center;
        color: #fff;
    }
}

.logo-social  {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 13px;
    left: 15px
}

.look_box  {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly
}

.look_list  {
    display: inline-flex;
    align-items: flex-start;
    flex: 1;
}

.look_list+.look_list:before {
    content: "";
    margin-top: 3px;
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: #d3d3d3
}

.look_link  {
    margin: auto;
    padding: 0 10px;
    display: inline-flex;
    font-size: 13px;
    letter-spacing: -.07px
}

.social_login  {
    margin-top: 40px
}

.social_login>.btn  {
    margin-bottom: 8px
}
