.join_area {
    margin: 0 auto;
    padding: 58px 0 160px;
    width: 400px
}

.join_title {
    padding-bottom: 46px;
    text-align: center;
    font-size: 32px;
    letter-spacing: -.48px;
    color: #000
}

#btn_register {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}