<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="BoardDto" type="com.teamProject.syusyu.domain.BoardDto"/>
        <typeAlias alias="SearchCondition" type="com.teamProject.syusyu.domain.SearchCondition" />
        <typeAlias alias="CommentDto" type="com.teamProject.syusyu.domain.CommentDto"/>
    </typeAliases>
</configuration>