/* font-size */
$main-font-size: 16px;
$aside-font-size: 13px;
$footer-font-size: 13px;
$main-font: 'Pretendard', sans-serif;
$bold-font: 'Pretendard-Bold', sans-serif;

/* font-color */
$highlight-color: #587dc8;
$red-color: #C14444;
$gray-color: #e7e7e7;
$blackBG-text-color: #FCF8F7;
$grayGB-text-color: #999;
$black-text-color: #040201;
$background-color: #040201;


