@import "variables";

%common-a-styles {
  text-decoration: none;
  color: inherit;
  &:hover, &:active {
    text-decoration: none;
    color: inherit;
  }
}



* {
  font-family: $main-font;
  vertical-align: baseline;
}

body {
  position: relative;
}

a {
  @extend %common-a-styles;
  &:visited {
    @extend %common-a-styles;
  }
  &:focus {
    @extend %common-a-styles;
  }
}

#main_header {
  width: 1280px;
  margin: 0 auto;
  height: 160px;
  position: relative;
  border-bottom: 1px solid $gray-color;

  > #title {
    width: 100%;
    position: absolute;
    top: 30px;

    > #logo {
      position: absolute;
      width: 120px;
      height: 24px;
      left: 20px;

      > img {
        width: 100%;
      }
    }

    > #search_box {
      position: absolute;
      right: 0;
    }
  }

  > #main_gnb {
    position: absolute;
    right: 0;
    top: 0;
  }

  > #main_lnb {
    position: absolute;
    left: 20px;
    bottom: 10px;
  }
}

#main_gnb, #main_lnb {
  > ul {
    overflow: hidden;
    > li {
      float: left;
      > a {
        display: block;
        padding: 2px 10px;
        &:hover {
          background: black;
          color: white;
        }
      }
    }
  }
}

#main_footer {
  background-color: $background-color;
  > .footer_content {
    color : $grayGB-text-color;
    font-size: $footer-font-size;
    display: block;
    max-width: 1560px;
    margin: 0 auto;
    padding: 50px 0 100px 0;

    &::after {
      content: "";
      clear: both;
      display: block;
    }
  }

  .footer_logo {
    width: 120px;

    > img {
      width: 100%;
    }
  }

  .footer_wrapper_info {
    position: relative;
    max-width: 1560px;
    margin: 24px auto 0;
  }

  .footer_info_desc {
    margin-top: 8px;
  }

  .footer_quickLink_list {
    display: inline-block;
    margin-left: 80px;

    &:first-child {
      margin-left: 0;
    }
  }

  .footer_quickLink_subList {
    margin-top: 15px;

    &:first-child {
      margin-top: 20px;
    }
  }

  .footer_sns {
    color: white;
    position: absolute;
    top: 0;
    right: 20vh;
    font-size: 2em;

    a {
      margin-right: 10px;
    }
  }

  .footer_quickLink_title {
    color: white;
    font-family: $bold-font;
    font-size: 15px;
  }
}

input, textarea {
  padding: 0;
  outline: 0;
  border: 0;
  resize: none;
  border-radius: 0;
  /*-webkit-appearance: none;*/
  background-color: transparent
}

.input_box {
  position: relative;
  padding: 10px 0 14px
}

.input_title {
  font-size: 13px;
  letter-spacing: -.07px;
  line-height: 18px;

  &.ess {
    position: relative;
    display: inline-block;
    padding-right: 6px;
    &:after {
      content: "*";
      position: absolute;
      top: -2px;
      right: 0;
    }
  }
}

.input_item {
  position: relative
}

.input_txt {
  padding: 8px 0;
  width: 100%;
  font-size: 15px;
  letter-spacing: -.15px;
  line-height: 22px;
  border-bottom: 1px solid #ebebeb
}

.input_error {
  display: none
}

//.btn {
//  display: inline-flex;
//  cursor: pointer;
//  align-items: center;
//  justify-content: center;
//  vertical-align: middle;
//  text-align: center;
//  color: rgba(34, 34, 34, .8);
//  background-color: #fff;
//}

.full {
  width: 100%;
  font-size: 16px;
  letter-spacing: -.16px;
  font-weight: 700;
  height: 52px;
  border-radius: 12px
}

.solid {
  font-weight: 700;
  color: #fff;
  background-color: #222
}

.solid.disabled, .solid :disabled {
  background-color: #ebebeb;
  color: #fff;
  cursor: default;
}

.title-t {
  font-weight: 700;

  &.ty1 {
    font-size: 50px;
    line-height: 64px;
  }

  &.ty2 {
    font-size: 40px;
    line-height: 48px;
  }

  &.ty3 {
    font-size: 32px;
    line-height: 38px;

    &.img-type {
      display: inline-flex;
      align-items: center;

      img {
        width: 148px;
        margin-right: 3px;
      }
    }
  }

  &.ty4 {
    font-size: 28px;
    line-height: 34px;
  }

  &.ty5 {
    font-size: 22px;
    line-height: 26px;
  }

  &.ty6 {
    font-size: 20px;
    line-height: 24px;
  }

  &.ty7 {
    font-size: 18px;
    line-height: 21px;
  }

  &.ty8 {
    font-size: 16px;
    line-height: 19px;
  }

  &.ty9 {
    font-size: 15px;
    line-height: 18px;
  }
}

/* button */
.btn {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  line-height: normal;
  &:disabled {
    cursor: auto;
  }
  &:not(.icon):disabled {
    cursor: auto;
    background-color: #ccc !important;
    &::before {
      content: none !important;
    }
    > span {
      color: #fff !important;
    }
  }
  &.free {
    min-width: auto !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  &.icon {
    height: auto;
    font-size: 0;
    border-radius: 0;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    > .text {
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
    }
    &.minus {
      width: 40px;
      height: 40px;
      background: #fff url(../images/icon_minus.png) no-repeat center center;
      &:disabled {
        background: #fff url(../images/icon_minus_disabled.png) no-repeat center center;
      }
    }
    &.plus {
      width: 40px;
      height: 40px;
      background: #fff url(../images/icon_plus.png) no-repeat center center;
      &:disabled {
        background: #fff url(../images/icon_plus_disabled.png) no-repeat center center;
      }
    }
    &.youtube {
      width: 24px;
      height: 24px;
      background-image: url(../images/icon_youtube.png);
    }
    &.instar {
      width: 24px;
      height: 24px;
      background-image: url(../images/icon_insta.png);
    }
    &.blog {
      width: 24px;
      height: 24px;
      background-image: url(../images/icon_blog.png);
    }
    &.kakao {
      width: 24px;
      height: 24px;
      background-image: url(../images/icon_kakao.png);
    }
    &.search {
      width: 21px;
      height: 21px;
      background-image: url(../images/icon_search_21.svg);
      &.big {
        width: 24px;
        height: 24px;
        background-image: url(../images/icon_search_24.png);
      }
    }
    &.mypage {
      width: 30px;
      height: 30px;
      background: url(../images/icon_my.svg) no-repeat center top;
    }
    &.bag {
      width: 37px;
      height: 30px;
      overflow: visible;
      background: url(../images/icon_bag.svg) no-repeat left top;
      > .cnt {
        position: absolute;
        top: -6px;
        right: 0;
        display: block;
        width: 22px;
        height: 22px;
        padding-top: 4px;
        font-weight: 600;
        font-size: 11px;
        line-height: 1;
        color: #fff;
        text-align: center;
        border: 2px solid #fff;
        border-radius: 50%;
        background-color: #d3233a;
      }
    }
    &.change-list {
      width: 20px;
      height: 20px;
      background: url(../images/icon_change_list.png) no-repeat center center;
      &.active {
        background-image: url(../images/icon_change_list_active.png);
      }
    }
    &.cart {
      width: 40px;
      height: 40px;
      background: url(../images/icon_cart.svg) no-repeat center center;
      &.big {
        width: 50px;
        height: 50px;
        background-image: url(../images/icon_cart_big.svg);
      }
    }
    &.remove {
      width: 16px;
      height: 16px;
      background: url(../images/icon_remove_16.png) no-repeat center center;
    }
    &.remove_18 {
      width: 18px;
      height: 18px;
      background: url(../images/icon_remove_18.png) no-repeat center center;
    }
    &.remove_19 {
      width: 19px;
      height: 19px;
      background: url(../images/icon_remove_19.png) no-repeat center center;
    }
    &.remove_20 {
      width: 20px;
      height: 20px;
      background: url(../images/icon_remove_20.svg) no-repeat center center;
    }
    &.pw-view {
      width: 24px;
      height: 24px;
      background: url(../images/icon_view.png) no-repeat center center;
      &.active {
        background-image: url(../images/icon_view_off.png);
      }
    }
    &.alarm {
      width: 40px;
      height: 40px;
      background: url(../images/icon_alarm.svg) no-repeat center center;
      &.active {
        background-image: url(../images/icon_alarm_on.svg);
      }
    }
    &.like{
      width: 30px;
      height: 30px;
      background: url(../images/icon_heart.svg) no-repeat center center;
      transition: .3s;
      &.on{
        background-image: url(../images/icon_heart_on.svg);
      }
      &.big {
        width: 50px;
        height: 50px;
        background: #333 url(../images/icon_heart_big.svg) no-repeat center;
        border-radius: 50%;
        &.active, &.on {
          background-image: url(../images/icon_heart_big_on.svg);
        }
      }
    }
    &.share{
      width: 30px;
      height: 30px;
      background: url(../images/icon_share.svg) no-repeat center center;
    }
    &.mark{
      >span{
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../images/icon_mark3.png) no-repeat center center;
      }
    }
    &.gift{
      >span{
        display: inline-block;
        background: url(../images/icon_gift.svg) no-repeat left center/ 20px 20px;
      }
    }

    &.auto-stop {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: rgba($color: #000000, $alpha: 0.3);
      &::before {
        content: '';
        position: absolute;
        top: 12px;
        left: 14px;
        height: 12px;
        border-left: 2px solid #fff;
      }
      &::after {
        content: '';
        position: absolute;
        top: 12px;
        left: 20px;
        height: 12px;
        border-left: 2px solid #fff;
      }
    }
    &.auto-play {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: rgba($color: #000000, $alpha: 0.3);
      &::before {
        content: '';
        position: absolute;
        top: 12px;
        left: 14px;
        height: 12px;
        border-left: 8px solid #fff;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
      }
    }







  }

  &.btn-text-type {
    display: inline-block;
    line-height: 1;
    text-align: left;
    border-radius: 0;
    white-space: nowrap;
    &.btt1 {
      font-size: 15px;
      line-height: 18px;
      color: #888;
    }
    &.btt2 {
      padding-right: 34px;
      font-size: 16px;
      line-height: 25px;
      color: #333;
      background: url(../images/icon_more.svg) no-repeat right 1px center;
    }
    &.btt3 {
      padding-right: 24px;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      background: url(../images/icon_arrow_right_24.png) no-repeat right center;
    }
  }

  &.ty1 {
    min-width: 90px;
    padding: 10px 20px;
    font-size: 0;
    text-align: center;
    border-radius: 6px;
    > span {
      display: inline-block;
      font-size: 15px;
      line-height: 20px;
    }
  }
  &.ty2 {
    min-width: 104px;
    padding: 15px 20px;
    font-size: 0;
    text-align: center;
    border-radius: 6px;
    > span {
      display: inline-block;
      font-size: 15px;
      line-height: 20px;
    }
  }
  &.ty3 {
    min-width: 128px;
    padding: 18px 40px 17px 40px;
    font-size: 0;
    text-align: center;
    border-radius: 6px;
    > span {
      display: inline-block;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }
  }
  &.ty4 {
    min-width: 128px;
    padding: 20px 40px 20px 40px;
    font-size: 0;
    text-align: center;
    border-radius: 6px;
    > span {
      display: inline-block;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }
  }
  &.ty5 {
    min-width: 134px;
    padding: 24px 40px 24px 40px;
    font-size: 0;
    text-align: center;
    border-radius: 6px;
    > span {
      display: inline-block;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      &.icon-ty1 {
        padding-left: 25px;
        background: url(../images/icon_gift.svg) no-repeat left center;
      }
    }
  }

  &.c-ty1 {
    background-color: #d3233a;
    > span {
      color: #fff;
    }
  }
  &.c-ty2 {
    background-color: #fff;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #d3233a;
      border-radius: 6px;
    }
    > span {
      color: #d3233a;
    }
  }
  &.c-ty3 {
    background-color: #333333;
    > span {
      color: #fff;
    }
  }
  &.c-ty4 {
    background-color: #ccc;
    > span {
      color: #fff;
    }
  }
  &.c-ty5 {
    background-color: #fff;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #333;
      border-radius: 6px;
    }
    > span {
      color: #333;
    }
  }
  &.c-ty6 {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #e4e4e4;
      border-radius: 6px;
    }
    > span {
      color: #333;
    }
  }
  &.c-ty7 {
    background-color: #f5f5f5;
    > span {
      color: #888;
    }
  }
  &.c-ty8 {
    background-color: #fff;
    > span {
      color: #aaa;
    }
  }
  &.c-ty9 {
    background-color: #fff;
    > span {
      color: #d3233a;
    }
  }


  &.pagetop {
    height: 0;
    overflow: hidden;
    border-radius: 0;
    transition: height 0.3s;
    > .text {
      display: none;
      font-weight: 700;
      font-size: 13px;
      line-height: 15px;
      line-height: 0;
      text-align: center;
      transition: 0.3s;
      overflow: hidden;
    }
    &.active {
      width: 63px;
      height: 63px;
      border-top: 1px solid #e4e4e4;
      > .text {
        display: block;
        line-height: 15px;
      }
    }
  }
  &.sns-kakao {
    width: 60px;
    text-align: center;
    white-space: nowrap;
    > .text {
      display: block;
      padding-top: 70px;
      font-size: 15px;
      line-height: 18px;
      color: #333;
      background: url(../images/icon_sns_kakao.png) no-repeat top center;
    }
  }
  &.sns-naver {
    width: 60px;
    text-align: center;
    white-space: nowrap;
    > .text {
      display: block;
      padding-top: 70px;
      font-size: 15px;
      line-height: 18px;
      color: #333;
      background: url(../images/icon_sns_naver.png) no-repeat top center;
    }
  }
  &.sns-apple {
    width: 60px;
    text-align: center;
    white-space: nowrap;
    > .text {
      display: block;
      padding-top: 70px;
      font-size: 15px;
      line-height: 18px;
      color: #333;
      background: url(../images/icon_sns_apple.png) no-repeat top center;
    }
  }
  &.sns-facebook {
    width: 60px;
    text-align: center;
    white-space: nowrap;
    > .text {
      display: block;
      padding-top: 70px;
      font-size: 15px;
      line-height: 18px;
      color: #333;
      background: url(../images/icon_sns_facebook.png) no-repeat top center;
    }
  }

  &-area {
    font-size: 0;
    text-align: center;
    .btn {
      + .btn {
        margin-left: 10px;
      }
    }
    &.list-style {
      display: block;
      .btn {
        + .btn {
          margin: 10px 0 0 0;
        }
      }
    }
    &.full {
      display: flex;
      justify-content: center;
      align-items: center;
      .btn {
        flex: 1 1 0%
      }
    }
  }

  &.popup-btn {
    border-radius: 0;
  }

  &.bd-ty1 {
    font-size: 16px;
    letter-spacing: -.4px;
    color: #333;
    line-height: 20px;
    padding: 19px 40px;
    border-radius: 30px;
    border: solid 1px #e4e4e4;
    text-align: center;
    &::after {
      content: '';
      display: inline-block;
      vertical-align: top;
      background: url(../images/icon-number-rarrow.svg) no-repeat center;
      width: 15px;
      height: 15px;
      margin: 2px 0 0 5px;
    }
  }

  &.close-w{
    width: 16px;
    height: 16px;
    background:url(../images/icon_close_16_white.svg) no-repeat center/100%
  }
}

