@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.ttf") format("truetype");
  font-display: swap;
}
:root {
  --main-font-size:16px;
  --main-font:"Pretendard-Regular", sans-serif;
  --bold-font:"Pretendard-Bold", sans-serif;
  --accent-color: #1D2658;
  --background-color: #040201;
  --red-color: #C14444;
  --gray-color:#e7e7e7;
  --margin-small: 5px;
  --margin-medium: 10px;
  --padding-small: 5px;
  --padding-medium: 10px;
  --blackBG-text-color:#FCF8F7;
  --grayGB-text-color:#999;
  --black-text-color:#040201;
  --aside-font-size:13px;
  --footer-font-size:13px;
}

* {
  font-family: var(--main-font);
  vertical-align: baseline;
}

*, :after, :before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:focus {
  text-decoration: none;
  color: inherit;
}

a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

#main_header {
  width: 1280px;
  margin: 0 auto;
  /* 절대 좌표 */
  height: 160px;
  position: relative;
  border-bottom: 1px solid var(--gray-color);
}

#main_header > #title {
  width: 100%;
  position: absolute;
  top: 30px;
}

#main_header > #title > #logo {
  position: absolute;
  width: 120px;
  height: 24px;
  left: 20px;
}

#main_header > #title > #logo > img {
  width: 100%;
}

#main_header > #title > #search_box {
  position: absolute;
  right: 0;
}

#main_header > #main_gnb {
  position: absolute;
  right: 0;
  top: 0;
}

#main_header > #main_lnb {
  position: absolute;
  left: 20px;
  bottom: 10px;
}

/* global navigation bar */
#main_gnb > ul {
  overflow: hidden;
}

#main_gnb > ul > li {
  float: left;
}

#main_gnb > ul > li > a {
  display: block;
  padding: 2px 10px;
  /* border: 1px solid black; */
}

#main_gnb > ul > li > a:hover {
  background: black;
  color: white;
}

/* #main_gnb > ul > li:first-child > a { border-radius: 10px 0 0 10px ;} */
/* #main_gnb > ul > li:last-child > a { border-radius: 0 10px 10px 0;} */
/* local navigation bar */
#main_lnb > ul {
  overflow: hidden;
}

#main_lnb > ul > li {
  float: left;
}

#main_lnb > ul > li > a {
  display: block;
  padding: 10px 20px;
  /* border: 1px solid black; */
}

#main_lnb > ul > li > a:hover {
  background: black;
  color: white;
}

/* #main_lnb > ul > li:first-child > a { border-radius: 10px 0 0 10px ;} */
/* #main_lnb > ul > li:last-child > a { border-radius: 0 10px 10px 0;} */
#main_footer {
  background-color: var(--background-color);
}

#main_footer > .footer_content {
  color: var(--grayGB-text-color);
  font-size: var(--footer-font-size);
  /*margin: 2% 1%;*/
  display: block;
  max-width: 1560px;
  margin: 0 auto;
  padding: 50px 0 100px 0;
}

/* 'clearfix' 기법을 사용하여 float된 열들이 상단바의 높이를 올바르게 인식하도록함 */
#main_footer > .footer_content::after {
  /* 가상 요소 내용 설정 */
  content: "";
  /* 요소의 양쪽에서 float된 요소를 무시하도록 지시한다. 즉, 가상 요소가 float된 요소 아래에 배치되어 부모 요소가 float된 자식 요소의 높이를 올바르게 인식하도록 돕는다. */
  clear: both;
  /* 가상 요소는 테이블과 유사한 박스 모델을 따른다(?) float된 요소의 높이를 인식하는데 필요한 올바른 박스 모델을 설정하는데 도움이 된다고함.. */
  display: block;
}

.footer_logo {
  width: 120px;
}

.footer_logo > img {
  width: 100%;
}

.footer_wrapper_info {
  position: relative;
  max-width: 1560px;
  margin: 24px auto 0;
}

#main_footer .footer_info_desc {
  margin-top: 8px;
}

#main_footer .footer_quickLink_list {
  display: inline-block;
  margin-left: 80px;
}

#main_footer .footer_quickLink_list:first-child {
  margin-left: 0;
}

#main_footer .footer_quickLink_subList {
  margin-top: 15px;
}

#main_footer .footer_quickLink_subList:first-child {
  margin-top: 20px;
}

#main_footer .footer_sns {
  color: white;
  position: absolute;
  top: 0;
  right: 20vh;
  font-size: 2em;
}

#main_footer .footer_sns a {
  margin-right: 10px;
}

#main_footer .footer_quickLink_title {
  color: white;
  font-family: var(--bold-font);
  font-size: 15px;
}

input, textarea {
  padding: 0;
  outline: 0;
  border: 0;
  resize: none;
  border-radius: 0;
  /*-webkit-appearance: none;*/
  background-color: transparent;
}

.input_box {
  position: relative;
  padding: 10px 0 14px;
}

.input_title {
  font-size: 13px; /* 텍스트 줄 사이의 높이를 13px로 설정 */
  letter-spacing: -0.07px;
  line-height: 18px;
}

.input_title.ess {
  position: relative;
  display: inline-block;
  padding-right: 6px;
}

.input_title.ess:after {
  content: "*";
  position: absolute;
  top: -2px;
  right: 0;
}

.input_item {
  position: relative;
}

.input_txt {
  padding: 8px 0;
  width: 100%;
  font-size: 15px;
  letter-spacing: -0.15px;
  line-height: 22px;
  border-bottom: 1px solid #ebebeb;
}

.input_error {
  display: none;
}

.btn {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  color: rgba(34, 34, 34, 0.8);
  background-color: #fff;
}

.full {
  width: 100%;
  font-size: 16px;
  letter-spacing: -0.16px;
  font-weight: 700;
  height: 52px;
  border-radius: 12px;
}

.solid {
  font-weight: 700;
  color: #fff;
  background-color: #222;
}

.solid.disabled, .solid :disabled {
  background-color: #ebebeb;
  color: #fff;
  cursor: default;
}

.title-t {
  font-weight: 700;
}
.title-t.ty1 {
  font-size: 50px;
  line-height: 64px;
}
.title-t.ty2 {
  font-size: 40px;
  line-height: 48px;
}
.title-t.ty3 {
  font-size: 32px;
  line-height: 38px;
}
.title-t.ty3.img-type {
  display: inline-flex;
  align-items: center;
}
.title-t.ty3.img-type img {
  width: 148px;
  margin-right: 3px;
}
.title-t.ty4 {
  font-size: 28px;
  line-height: 34px;
}
.title-t.ty5 {
  font-size: 22px;
  line-height: 26px;
}
.title-t.ty6 {
  font-size: 20px;
  line-height: 24px;
}
.title-t.ty7 {
  font-size: 18px;
  line-height: 21px;
}
.title-t.ty8 {
  font-size: 16px;
  line-height: 19px;
}
.title-t.ty9 {
  font-size: 15px;
  line-height: 18px;
}

/*# sourceMappingURL=common.css.map */
