html, body {
  position: relative;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  background-color: #fff;

  main {
    padding: 0 0 130px 0;
  }
}

.swiper {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  margin: 0 auto;

  &-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      width: 100%;
      height: 600px;
      margin: auto;
    }
  }

  &-button-next,
  &-button-prev {
    color: rgba(255, 255, 255, 0.7) !important;
    width: auto;
    height: auto;
    padding: 5px 10px;

    &:hover {
      color: rgba(255, 255, 255, 1) !important;
      background-color: rgba(255, 255, 255, 0.5) !important;
    }
  }

  &-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.5) !important;

    &-active {
      background-color: rgba(255, 255, 255, 0.8) !important;
    }
  }
}

.prd-lists::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #fff;
}