<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamProject.syusyu.categoryMapper">
    <select id="selectCategoryAllList" resultType="CategoryDTO">
        SELECT LARGE_NO
             , LARGE_NM
             , MIDDLE_NO
             , MIDDLE_NM
             , SMALL_NO
             , SMALL_NM
        FROM CATEGORY
        WHERE DEL_YN = 'N'
          AND DSPY_YN = 'Y'
        ORDER BY MIDDLE_NO asc, SMALL_NO asc
    </select>
</mapper>

