<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamProject.syusyu.prodOptCombMapper">
    <insert id="insertProdOptComb" parameterType="ProdOptCombDTO">
        INSERT INTO PROD_OPT_COMB (OPT_COMB_NO, OPT_ITEM_ID, REGR_ID)
        VALUES(
            #{optCombNo},
            #{optItemId},
            #{regrId}
            )
    </insert>

</mapper>




