<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamProject.syusyu.prodOptCombMapper">
    <insert id="insertProdOptCombList" parameterType="java.util.List">
        INSERT INTO PROD_OPT_COMB (OPT_COMB_NO /*color, size 두개땜에 두번씩 똑같이들어가야함*/
        , OPT_ITEM_ID /*color는 size배열이 끝날때까지 같이 들어가야함*/
        , REGR_ID)
        VALUES
        <foreach item="item" collection="prodOptCombDTOList" separator=",">
            (
                #{item.optCombNo},
                #{item.optItemId},
                #{item.regrId}
            )
        </foreach>
    </insert>

</mapper>


