<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamProject.syusyu.prodOptMapper">
    <select id="selectProdOptSizeList" parameterType="int" resultType="ProdOptDTO">
        SELECT REGEXP_REPLACE(OI.OPT_ITEM_NM, '[^0-9]', '') AS SHOES_SIZE /*신발 사이즈*/
             , POC.OPT_COMB_NO /*옵션조합번호*/
             , PO.OPT_PRC /*옵션가*/
             , INV_QTY /*재고수량*/
        FROM PROD_OPT PO /*신발옵션*/
                 JOIN PROD_OPT_COMB POC ON PO.OPT_COMB_NO = POC.OPT_COMB_NO
                 JOIN OPT_ITEM OI ON OI.OPT_ITEM_ID = POC.OPT_ITEM_ID
        WHERE PO.PROD_ID = #{prodId}
          AND REGEXP_REPLACE(OI.OPT_ITEM_NM, '[^0-9]', '') != '' /*신발사이즈 외 빈칸 안나오게함*/
          AND OI.DEL_YN = 'N'
          AND POC.DEL_YN = 'N'
          AND PO.DEL_YN = 'N'
        ORDER BY OI.OPT_ITEM_NM
    </select>
    <insert id="insertOptGrp" parameterType="ProdOptDTO" useGeneratedKeys="true" keyProperty="optGrpId">
        INSERT INTO OPT_GRP (OPT_GRP_NM  /* color, size 옵션명 추가*/
                            , PROD_ID
                            , REGR_ID)
        VALUES (#{optGrpNm}
               , #{prodId}
               , #{regrId} );
    </insert>
    <insert id="insertOptItem" parameterType="ProdOptDTO" useGeneratedKeys="true" keyProperty="optItemId">
        INSERT INTO OPT_ITEM ( OPT_ITEM_NM /* color, size 옵션명*/
                             , OPT_GRP_ID  /* color, size 옵션값*/
                             , REGR_ID)
        VALUES (#{optItemNm}
               , #{optGrpId}
               , #{regrId} );
    </insert>
    <insert id="insertProdOpt" parameterType="ProdOptDTO" useGeneratedKeys="true" keyProperty="optCombNo">
        INSERT INTO PROD_OPT (PROD_ID
                             , OPT_PRC
                             , INV_QTY
                             , REGR_ID)
        VALUES (#{prodId}
               , #{optPrc}
               , #{invQty}
               , #{regrId} );
    </insert>
    <insert id="insertProdOptComb" parameterType="ProdOptDTO">
        INSERT INTO PROD_OPT_COMB (OPT_COMB_NO        /*color, size 두개땜에 두번씩 똑같이들어가야함*/
                                  , OPT_ITEM_ID       /*color는 size배열이 끝날때까지 같이 들어가야함*/
                                  , REGR_ID)
        VALUES (#{optCombNo}
               , #{optItemId}
               , #{regrId} );
    </insert>


</mapper>


