#content {
    width: 100%;
    position: relative;
    /* left: 20px; */
}

.slide_banner {
    width: 100%;
    height: 45vh;
    position: relative;
    overflow: hidden;
}

.slide_banner .banner-container {
    width: 100%;
    height: 100%;
    position: absolute;
    transition-duration: 5s;
}

.slide_banner .banner {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.slide_banner .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
}

.slide_banner .btn-prev {
    left: 10px;
}

.slide_banner .btn-next {
    right: 10px;
}

.slide_banner .dot-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_banner .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.5;
}

.slide_banner .dot.active {
    opacity: 1;
}

/* Fading animation */
.slide_banner .fade {
    animation-name: fade;
    animation-duration: 1.5s; /* 애니메이션을 1.5초동안 재생한다. (투명도 0.4 -> 1이 1.5초동안 재생됨) */
}

@keyframes fade {
    from { opacity: 0.4 } /* start 투명도 0.4 */
    to { opacity: 1 } /* end 투명도 1 */
}

