*, *::before, *::after {
  box-sizing: border-box;
}
.all-board {
  padding: 15px 25px 10px;
  width: 100%;
  margin: auto;
}
.title-t {
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
.panel-seller {
  position: relative;
  margin-bottom: 10px;
  background-color: #fff;
}
.panel, .panel-seller {
  border: 1px solid #dbdde2;
  box-shadow: none;
}
.panel-seller .panel-heading {
  border-bottom: none;
}
.panel-heading {
  margin-bottom: -5px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.panel-body, .panel-heading {
  padding: 20px 35px;
}
.pull-left {
  float: left!important;
}
.panel-seller .panel-heading .panel-title {
  position: relative;
  color: #303236;
  line-height: 30px;
  word-break: break-all;
}
.panel-title {
  margin-top: -5px;
  margin-bottom: 0;
  font-size: 20px;
}
.pull-right {
  float: right!important;
}
button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
  cursor: pointer;
}
.panel-seller .panel-heading+.panel-body {
  border-top: 1px solid #e2e6ee;
}
.panel-body, .panel-heading {
  padding: 20px 35px;
}
.seller-search-section {
  display: flex;
}
.input-search {
  margin-right: 10px;
  margin-top: 10px;
}
.input-content {
  margin-right: 10px;
}
.search-option {
  margin-left: 30px;
  margin-right: 30px;
  height: 40px;
  padding: 0 50px 0 10px;
  background: #fff no-repeat calc(100% - 10px) 50%;
  border: 1px solid #ccc;
  color: #666;
  font-size: 14px;
  line-height: normal;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline: 0;
  cursor: pointer;
}

#searchIcon {
  position: absolute;
  top: 74%;
  left: 230px;
  transform: translateY(-50%);
  pointer-events: none;
  cursor: pointer;
}

.search-input, btn btn-secondary my-2 my-sm-0 {
  margin-right: 30px;
  height: 40px;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #ccc;
  color: #312b2b;
  font-size: 15px;
  box-sizing: border-box;
  vertical-align: middle;
  outline: 0;
  font-family: inherit;
}

  button, input {
    overflow: visible;
  }
  #btnSearch {
    color: #fff;
    background: #212529;
    border: 0;
    height: 40px;
    width: 80px;
    font-size: 15px;
  }

.notice-list{
  margin-left: 20px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
}
a {
  color: black;
  text-decoration: none;
}

a:hover{
  color: gray;
}

.prev_next_title{
  list-style: none;
}


textarea {
  width: 100%;
  background: #f8f8f8;
  margin: 15px 0px 10px 0px;
  border: 1px solid #e9e8e8;
  resize: none;
  padding: 8px;
  outline-color: #e6e6e6;
}
.detail-cont {
  background-color: white;
  border: none;
  border-bottom: 1px solid #eee;
  line-height: 26px;
  padding: 15px 20px 10px;
}

.detail-tit1 {
  background-color: white;
  border: none;
  padding: 20px;
  font-size: 17px;
  font-weight: 550;
  margin-top: 10px;
  border-bottom: 1px solid #eee;
}
