<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamProject.syusyu.dlvAddrMapper">
    <select id="selectDefaultDlvAddr" parameterType="int" resultType="DlvAddrDTO">
        SELECT DLV_ADDR_NO
             , RECIPIENT
             , ZIPCODE
             , DFLT_ADDR
             , DTL_ADDR
             , CONCAT(DFLT_ADDR, DTL_ADDR) AS ADDR
             , MP_NO
             , DLV_REQ_COMT
        FROM DLV_ADDR
        WHERE MBR_ID = #{mbrId}
          AND DFLT_DLV_ADDR_YN = 'Y'
    </select>

    <select id="selectAllDlvAddr" parameterType="int" resultType="DlvAddrDTO">
        SELECT DLV_ADDR_NO
             , RECIPIENT
             , ZIPCODE
             , DFLT_ADDR
             , DTL_ADDR
             , CONCAT(DFLT_ADDR, DTL_ADDR) AS ADDR
             , MP_NO
             , DLV_REQ_COMT
             , DFLT_DLV_ADDR_YN
        FROM DLV_ADDR
        WHERE MBR_ID = #{mbrId}
    </select>
</mapper>