<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamProject.syusyu.memberMapper">
    <select id="loginCheck" parameterType="MemberDTO" resultType="MemberDTO">
        SELECT *
        FROM MEMBER
        WHERE LGIN_ID = #{lginId}
          AND LGIN_PWD = #{lginPwd};
    </select>

    <insert id="memberInsert" parameterType="MemberDTO" useGeneratedKeys="true" keyProperty="mbrId">
        INSERT INTO member ( LGIN_ID
                           , LGIN_PWD
                           , NAME
                           , EMAIL
                           , ROLE)
        VALUES ( #{lginId}
               , #{lginPwd}
               , #{name}
               , #{email}
               , #{role})
    </insert>

    <insert id="memberInfoInsert" parameterType="MemberDTO">
        INSERT INTO mbr_info ( MBR_ID
                             , SHOE_SIZE
                             , MP_NO
                             , BIRTH
                             , SEX
                             , REGR_ID)
        VALUES ( #{mbrId}
               , #{shoeSize}
               , #{mpNo}
               , #{birth}
               , #{sex}
               , #{regrId})
    </insert>

    <select id="selectUserInfo" parameterType="int" resultType="MemberDTO">
        SELECT NAME
             , MI.MP_NO
             , M.EMAIL
        FROM MEMBER M
                 JOIN MBR_INFO MI ON M.MBR_ID = MI.MBR_ID
        WHERE M.MBR_ID = #{mbrId}
    </select>

    <select id="selectMemberTotalPoint" parameterType="int" resultType="int">
        SELECT TOT_PNT
        FROM MBR_INFO
        WHERE MBR_ID = #{mbrId}
    </select>

    <select id="memberCouponCnt" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM MBR_CPN
        WHERE MBR_ID = #{mbrId}
    </select>
</mapper>